<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title>Marraze</title>
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <!-- fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
  <!-- css -->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/vendor/owl-carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendor/photoswipe/photoswipe.css">
  <link rel="stylesheet" href="/vendor/photoswipe/default-skin/default-skin.css">
  <link rel="stylesheet" href="/vendor/select2/css/select2.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style.header-spaceship-variant-one.css" media="(min-width: 1200px)">
  <link rel="stylesheet" href="/css/style.mobile-header-variant-one.css" media="(max-width: 1199px)">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
  <!-- font - fontawesome -->
  <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
</head>

<body>
  <!-- site -->
  <div class="site">
    {{> @partial-block }}

    <footer class="site__footer">
      <div class="site-footer">
        <div class="decor site-footer__decor decor--type--bottom">
          <div class="decor__body">
            <div class="decor__start"></div>
            <div class="decor__end"></div>
            <div class="decor__center"></div>
          </div>
        </div>
        <div class="site-footer__widgets">
          <div class="container">
            <div class="row">
              <div class="col-12 col-xl-4">
                <div class="site-footer__widget footer-contacts">
                  <h5 class="footer-contacts__title">Contact Us</h5>
                  <div class="footer-contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in
                    feugiat lorem.</div>
                  <address class="footer-contacts__contacts">
                    <dl>
                      <dt>Phone Number</dt>
                      <dd>+964 750 7233223</dd>
                    </dl>
                    <dl>
                      <dt>Email Address</dt>
                      <dd>info@awrosoft.com</dd>
                    </dl>
                    <dl>
                      <dt>Our Location</dt>
                      <dd>Empire, Erbil</dd>
                    </dl>
                    <dl>
                      <dt>Working Hours</dt>
                      <dd>Mon-Sat 10:00pm - 7:00pm</dd>
                    </dl>
                  </address>
                </div>
              </div>
              <div class="col-6 col-md-3 col-xl-2">
                <div class="site-footer__widget footer-links">
                  <h5 class="footer-links__title">Information</h5>
                  <ul class="footer-links__list">
                    <li class="footer-links__item"><a href="" class="footer-links__link">About Us</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Delivery Information</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Privacy Policy</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Brands</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Contact Us</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Returns</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Site Map</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-md-3 col-xl-2">
                <div class="site-footer__widget footer-links">
                  <h5 class="footer-links__title">My Account</h5>
                  <ul class="footer-links__list">
                    <li class="footer-links__item"><a href="" class="footer-links__link">Store Location</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Order History</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Wish List</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Newsletter</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Specials</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Gift Certificates</a></li>
                    <li class="footer-links__item"><a href="" class="footer-links__link">Affiliate</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-4">
                <div class="site-footer__widget footer-newsletter">
                  <h5 class="footer-newsletter__title">Newsletter</h5>
                  <div class="footer-newsletter__text">Enter your email address below to subscribe to our newsletter and
                    keep up to date with discounts and special offers.</div>
                  <form action="" class="footer-newsletter__form"><label class="sr-only"
                      for="footer-newsletter-address">Email Address</label> <input type="text"
                      class="footer-newsletter__form-input" id="footer-newsletter-address"
                      placeholder="Email Address..."> <button class="footer-newsletter__form-button">Subscribe</button>
                  </form>
                  <div class="footer-newsletter__text footer-newsletter__text--social">Follow us on social networks
                  </div>
                  <div class="footer-newsletter__social-links social-links">
                    <ul class="social-links__list">
                      <li class="social-links__item social-links__item--facebook"><a href="#" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                      </li>
                      <li class="social-links__item social-links__item--twitter"><a href="#" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                      </li>
                      <li class="social-links__item social-links__item--youtube"><a href="#" target="_blank"><i
                            class="fab fa-youtube"></i></a>
                      </li>
                      <li class="social-links__item social-links__item--instagram"><a href="#" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                      </li>
                      <li class="social-links__item social-links__item--rss"><a href="#" target="_blank"><i
                            class="fas fa-rss"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="site-footer__bottom">
          <div class="container">
            <div class="site-footer__bottom-row">
              <div class="site-footer__copyright">
                Designed by <a href="#" target="_blank">Awrosoft</a><!-- copyright / end -->
              </div>
              <div class="site-footer__payments"><img src="images/payments.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <!-- site / end -->

  <a
  href="/add-advertisment.html"
    style="width:80px;height: 80px; background: red; color: #fff !important; position: fixed; bottom: 20px; right: 20px;border: none; border-radius: 50%; display: flex; justify-content: center; align-items: center">+</a>


  <!-- scripts -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="/vendor/nouislider/nouislider.min.js"></script>
  <script src="/vendor/photoswipe/photoswipe.min.js"></script>
  <script src="/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
  <script src="/vendor/select2/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
  <script src="/js/number.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>