            <div class="block-space block-space--layout--divider-xs"></div>
            <div class="block block-slideshow">
                <div class="container">
                    <div class="block-slideshow__carousel">
                        <div class="owl-carousel">
                            <a class="block-slideshow__item" href="">
                                <span class="block-slideshow__item-image block-slideshow__item-image--desktop" style="background-image: url('https://electrek.co/wp-content/uploads/sites/3/2020/01/self-charging-toyota.jpg?quality=82&strip=all')"></span>
                                <span class="block-slideshow__item-image block-slideshow__item-image--mobile" style="background-image: url('https://electrek.co/wp-content/uploads/sites/3/2020/01/self-charging-toyota.jpg?quality=82&strip=all')"></span>
                            </a>
                            <a class="block-slideshow__item" href="">
                                <span class="block-slideshow__item-image block-slideshow__item-image--desktop" style="background-image: url('https://tch-live-cdn-01-media.azureedge.net/mediacontainer/medialibraries/tcharrison/tch-ford-images/tch%20offers/treat-yourself.jpg?ext=.jpg')"></span>
                                <span class="block-slideshow__item-image block-slideshow__item-image--mobile" style="background-image: url('https://tch-live-cdn-01-media.azureedge.net/mediacontainer/medialibraries/tcharrison/tch-ford-images/tch%20offers/treat-yourself.jpg?ext=.jpg')"></span>
                            </a>
                            <a class="block-slideshow__item" href="">
                                <span class="block-slideshow__item-image block-slideshow__item-image--desktop" style="background-image: url('https://tch-live-cdn-01-media.azureedge.net/mediacontainer/medialibraries/tcharrison/tch-ford-images/event%20page%20artwork/2021/q4/made%20for%20you/page-header.gif?ext=.gif')"></span>
                                <span class="block-slideshow__item-image block-slideshow__item-image--mobile" style="background-image: url('https://tch-live-cdn-01-media.azureedge.net/mediacontainer/medialibraries/tcharrison/tch-ford-images/event%20page%20artwork/2021/q4/made%20for%20you/page-header.gif?ext=.gif')"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-space block-space--layout--divider-xs"></div>
