 <div class="block-finder block">
                <div class="decor block-finder__decor decor--type--bottom">
                    <div class="decor__body">
                        <div class="decor__start"></div>
                        <div class="decor__end"></div>
                        <div class="decor__center"></div>
                    </div>
                </div>
                <div class="block-finder__image" style="background-image: url('https://lp-auto-assets.s3.amazonaws.com/preowned/header6.jpg');"></div>
                <div class="block-finder__body container container--max--xl">
                    <div class="block-finder__title">Search for Vehicle</div>
                    <div class="block-finder__subtitle">Over hundreds of brands and tens of thousands of cars</div>
                    <form class="block-finder__form">
                        <div class="block-finder__form-control block-finder__form-control--select">
                            <select name="year" aria-label="Vehicle Year">
                                <option value="none">Select Year</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                            </select>
                        </div>
                        <div class="block-finder__form-control block-finder__form-control--select">
                            <select name="make" aria-label="Vehicle Make" disabled>
                                <option value="none">Select Make</option>
                                <option>Audi</option>
                                <option>BMW</option>
                                <option>Ferrari</option>
                                <option>Ford</option>
                                <option>KIA</option>
                                <option>Nissan</option>
                                <option>Tesla</option>
                                <option>Toyota</option>
                            </select>
                        </div>
                        <div class="block-finder__form-control block-finder__form-control--select">
                            <select name="model" aria-label="Vehicle Model" disabled>
                                <option value="none">Select Model</option>
                                <option>Explorer</option>
                                <option>Focus S</option>
                                <option>Fusion SE</option>
                                <option>Mustang</option>
                            </select>
                        </div>
                        <div class="block-finder__form-control block-finder__form-control--select">
                            <select name="engine" aria-label="Vehicle Engine" disabled>
                                <option value="none">Select Engine</option>
                                <option>Gas 1.6L 125 hp AT/L4</option>
                                <option>Diesel 2.5L 200 hp AT/L5</option>
                                <option>Diesel 3.0L 250 hp MT/L5</option>
                            </select>
                        </div>
                        <button class="block-finder__form-control block-finder__form-control--button" type="submit">Search</button>
                    </form>
                </div>
            </div>