<div class="block block-products-carousel" data-layout="grid-5">
    <div class="container">
        <div class="section-header">
            <div class="section-header__body">
                <h2 class="section-header__title">Recent Offers</h2>
                <div class="section-header__spring"></div>
                <div class="section-header__divider"></div>
            </div>
        </div>
        <div class="block-products-carousel__carousel">
            <div class="block-products-carousel__carousel-loader"></div>
            <div class="owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                        style="transform: translate3d(-1370px, 0px, 0px); transition: all 0s ease 0s; width: 5480px;">
                        <div class="owl-item cloned" style="width: 254px; margin-right: 20px;">
                            <div class="block-products-carousel__column">
                                <div class="block-products-carousel__cell">
                                    <div class="product-card product-card--layout--grid">
                                        <div class="product-card__actions-list">
                                            <button class="product-card__action product-card__action--quickview"
                                                type="button" aria-label="Quick view">
                                                <svg width="16" height="16">
                                                    <path d="M14,15h-4v-2h3v-3h2v4C15,14.6,14.6,15,14,15z M13,3h-3V1h4c0.6,0,1,0.4,1,1v4h-2V3z M6,3H3v3H1V2c0-0.6,0.4-1,1-1h4V3z
	 M3,13h3v2H2c-0.6,0-1-0.4-1-1v-4h2V13z"></path>
                                                </svg>
                                            </button>
                                            <button class="product-card__action product-card__action--wishlist"
                                                type="button" aria-label="Add to wish list">
                                                <svg width="16" height="16">
                                                    <path d="M13.9,8.4l-5.4,5.4c-0.3,0.3-0.7,0.3-1,0L2.1,8.4c-1.5-1.5-1.5-3.8,0-5.3C2.8,2.4,3.8,2,4.8,2s1.9,0.4,2.6,1.1L8,3.7
	l0.6-0.6C9.3,2.4,10.3,2,11.3,2c1,0,1.9,0.4,2.6,1.1C15.4,4.6,15.4,6.9,13.9,8.4z"></path>
                                                </svg>
                                            </button>
                                            <button class="product-card__action product-card__action--compare"
                                                type="button" aria-label="Add to compare">
                                                <svg width="16" height="16">
                                                    <path
                                                        d="M9,15H7c-0.6,0-1-0.4-1-1V2c0-0.6,0.4-1,1-1h2c0.6,0,1,0.4,1,1v12C10,14.6,9.6,15,9,15z">
                                                    </path>
                                                    <path
                                                        d="M1,9h2c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,9.4,0.4,9,1,9z">
                                                    </path>
                                                    <path
                                                        d="M15,5h-2c-0.6,0-1,0.4-1,1v8c0,0.6,0.4,1,1,1h2c0.6,0,1-0.4,1-1V6C16,5.4,15.6,5,15,5z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="product-card__image">
                                            <div class="image image--type--product">
                                                <a href="product-full.html" class="image__body">
                                                    <img class="image__tag" src="https://hips.hearstapps.com/hmg-prod/images/2020-nissan-sentra-120-1574102513.jpg?crop=0.750xw:0.962xh;0.218xw,0.0384xh&resize=640:*"
                                                        alt="">
                                                </a>
                                            </div>
                                            <div
                                                class="status-badge status-badge--style--success product-card__fit status-badge--has-icon status-badge--has-text">
                                                <div class="status-badge__body">
                                                    <div class="status-badge__icon"><svg width="13" height="13">
                                                            <path
                                                                d="M12,4.4L5.5,11L1,6.5l1.4-1.4l3.1,3.1L10.6,3L12,4.4z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                    <div class="status-badge__text">Part Fit for 2011 Ford Focus S</div>
                                                    <div class="status-badge__tooltip" tabindex="0"
                                                        data-toggle="tooltip" title=""
                                                        data-original-title="Part Fit for 2011 Ford Focus S"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card__info">
                                            <div class="product-card__meta"><span
                                                    class="product-card__meta-title">SKU:</span> 573-49386-C</div>
                                            <div class="product-card__name">
                                                <div>
                                                    <a href="product-full.html">Nissan Sentra</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="product-card__prices">
                                                <div class="product-card__price product-card__price--current">$23.00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 254px; margin-right: 20px;">
                            <div class="block-products-carousel__column">
                                <div class="block-products-carousel__cell">
                                    <div class="product-card product-card--layout--grid">
                                        <div class="product-card__actions-list">
                                            <button class="product-card__action product-card__action--quickview"
                                                type="button" aria-label="Quick view">
                                                <svg width="16" height="16">
                                                    <path d="M14,15h-4v-2h3v-3h2v4C15,14.6,14.6,15,14,15z M13,3h-3V1h4c0.6,0,1,0.4,1,1v4h-2V3z M6,3H3v3H1V2c0-0.6,0.4-1,1-1h4V3z
	 M3,13h3v2H2c-0.6,0-1-0.4-1-1v-4h2V13z"></path>
                                                </svg>
                                            </button>
                                            <button class="product-card__action product-card__action--wishlist"
                                                type="button" aria-label="Add to wish list">
                                                <svg width="16" height="16">
                                                    <path d="M13.9,8.4l-5.4,5.4c-0.3,0.3-0.7,0.3-1,0L2.1,8.4c-1.5-1.5-1.5-3.8,0-5.3C2.8,2.4,3.8,2,4.8,2s1.9,0.4,2.6,1.1L8,3.7
	l0.6-0.6C9.3,2.4,10.3,2,11.3,2c1,0,1.9,0.4,2.6,1.1C15.4,4.6,15.4,6.9,13.9,8.4z"></path>
                                                </svg>
                                            </button>
                                            <button class="product-card__action product-card__action--compare"
                                                type="button" aria-label="Add to compare">
                                                <svg width="16" height="16">
                                                    <path
                                                        d="M9,15H7c-0.6,0-1-0.4-1-1V2c0-0.6,0.4-1,1-1h2c0.6,0,1,0.4,1,1v12C10,14.6,9.6,15,9,15z">
                                                    </path>
                                                    <path
                                                        d="M1,9h2c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,9.4,0.4,9,1,9z">
                                                    </path>
                                                    <path
                                                        d="M15,5h-2c-0.6,0-1,0.4-1,1v8c0,0.6,0.4,1,1,1h2c0.6,0,1-0.4,1-1V6C16,5.4,15.6,5,15,5z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="product-card__image">
                                            <div class="image image--type--product">
                                                <a href="product-full.html" class="image__body">
                                                    <img class="image__tag" src="https://media.ed.edmunds-media.com/nissan/altima/2020/oem/2020_nissan_altima_sedan_25-platinum_fq_oem_1_1600.jpg"
                                                        alt="">
                                                </a>
                                            </div>
                                            <div
                                                class="status-badge status-badge--style--success product-card__fit status-badge--has-icon status-badge--has-text">
                                                <div class="status-badge__body">
                                                    <div class="status-badge__icon"><svg width="13" height="13">
                                                            <path
                                                                d="M12,4.4L5.5,11L1,6.5l1.4-1.4l3.1,3.1L10.6,3L12,4.4z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                    <div class="status-badge__text">Part Fit for 2011 Ford Focus S</div>
                                                    <div class="status-badge__tooltip" tabindex="0"
                                                        data-toggle="tooltip" title=""
                                                        data-original-title="Part Fit for 2011 Ford Focus S"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card__info">
                                            <div class="product-card__meta"><span
                                                    class="product-card__meta-title">SKU:</span> 753-38573-B</div>
                                            <div class="product-card__name">
                                                <div>
                                                    <a href="product-full.html">Nissan Altima</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="product-card__prices">
                                                <div class="product-card__price product-card__price--current">$452.00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                            aria-label="Previous">‹</span></button><button type="button" role="presentation"
                        class="owl-next"><span aria-label="Next">›</span></button></div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
</div>
<div class="block-space block-space--layout--divider-nl"></div>