<div class="block block-products-carousel" data-layout="grid-5">
    <div class="container">
        <div class="section-header">
            <div class="section-header__body">
                <h2 class="section-header__title">Sponsored</h2>
                <div class="section-header__spring"></div>
                <div class="section-header__divider"></div>
            </div>
        </div>
        <div class="block-products-carousel__carousel">
            <div class="block-products-carousel__carousel-loader"></div>
            <div class="owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                        style="transform: translate3d(-1370px, 0px, 0px); transition: all 0s ease 0s; width: 5480px;">
                        <div class="owl-item cloned" style="width: 254px; margin-right: 20px;">
                            <div class="block-products-carousel__column">
                                <div class="block-products-carousel__cell">
                                    <div class="product-card product-card--layout--grid">
                                        <div class="product-card__image">
                                            <div class="image image--type--product">
                                                <a href="product-full.html" class="image__body">
                                                    <img class="image__tag" src="https://images.hgmsites.net/hug/2022-dodge-charger_100822328_h.jpg"
                                                        alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-card__info">
                                            <div class="product-card__meta"><span
                                                    class="product-card__meta-title">SKU:</span> 573-49386-C</div>
                                            <div class="product-card__name">
                                                <div>
                                                    <a href="product-full.html">Dodge Charger</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="product-card__prices">
                                                <div class="product-card__price product-card__price--current">$23.000
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 254px; margin-right: 20px;">
                            <div class="block-products-carousel__column">
                                <div class="block-products-carousel__cell">
                                    <div class="product-card product-card--layout--grid">
                                        <div class="product-card__image">
                                            <div class="image image--type--product">
                                                <a href="product-full.html" class="image__body">
                                                    <img class="image__tag" src="https://media.autoexpress.co.uk/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1562248414/autoexpress/6/05/bmw_730d-010_0_0.jpg"
                                                        alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-card__info">
                                            <div class="product-card__meta"><span
                                                    class="product-card__meta-title">SKU:</span> 753-38573-B</div>
                                            <div class="product-card__name">
                                                <div>
                                                    <a href="product-full.html">BMW Series 7</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="product-card__prices">
                                                <div class="product-card__price product-card__price--current">$452.00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                            aria-label="Previous">‹</span></button><button type="button" role="presentation"
                        class="owl-next"><span aria-label="Next">›</span></button></div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
</div>
<div class="block-space block-space--layout--divider-nl"></div>