        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section-heading text-center wow fadeInUp">
                    <h6 class="mb-5"></h6>
                    <h3>Select Package</h3>
                    <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                    <div class="line mt-5"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Single Price Plan Area-->
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="title">
                        <h3>Start Up</h3>
                        <p>Start a trial</p>
                        <div class="line"></div>
                    </div>
                    <div class="price">
                        <h4>$0</h4>
                    </div>
                    <div class="description">
                        <p><i class="lni lni-checkmark-circle"></i>Duration: 7days</p>
                        <p><i class="lni lni-checkmark-circle"></i>10 Features</p>
                        <p><i class="lni lni-close"></i>No Hidden Fees</p>
                        <p><i class="lni lni-close"></i>100+ Video Tuts</p>
                        <p><i class="lni lni-close"></i>No Tools</p>
                    </div>
                    <div class="button"><button class="btn btn-dark btn-2" type="button" onclick="stepper.next()">Select</button></div>
                </div>
            </div>
            <!-- Single Price Plan Area-->
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="single_price_plan active wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <!-- Side Shape-->
                    <div class="side-shape"><img src="https://bootdey.com/img/popular-pricing.png" alt=""></div>
                    <div class="title"><span>Popular</span>
                        <h3>Small Business</h3>
                        <p>For Small Business Team</p>
                        <div class="line"></div>
                    </div>
                    <div class="price">
                        <h4>$9.99</h4>
                    </div>
                    <div class="description">
                        <p><i class="lni lni-checkmark-circle"></i>Duration: 3 Month</p>
                        <p><i class="lni lni-checkmark-circle"></i>50 Features</p>
                        <p><i class="lni lni-checkmark-circle"></i>No Hidden Fees</p>
                        <p><i class="lni lni-checkmark-circle"></i>150+ Video Tuts</p>
                        <p><i class="lni lni-close"></i>5 Tools</p>
                    </div>
                    <div class="button"><button class="btn btn-dark btn-2" type="button" onclick="stepper.next()">Select</button></div>
                </div>
            </div>
            <!-- Single Price Plan Area-->
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="title">
                        <h3>Enterprise</h3>
                        <p>Unlimited Possibilities</p>
                        <div class="line"></div>
                    </div>
                    <div class="price">
                        <h4>$49.99</h4>
                    </div>
                    <div class="description">
                        <p><i class="lni lni-checkmark-circle"></i>Duration: 1 year</p>
                        <p><i class="lni lni-checkmark-circle"></i>Unlimited Features</p>
                        <p><i class="lni lni-checkmark-circle"></i>No Hidden Fees</p>
                        <p><i class="lni lni-checkmark-circle"></i>Unlimited Video Tuts</p>
                        <p><i class="lni lni-checkmark-circle"></i>Unlimited Tools</p>
                    </div>
                    <div class="button"><button class="btn btn-dark btn-2" type="button" onclick="stepper.next()">Select</button></div>
                </div>
            </div>
        </div>
