
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section-heading text-center wow fadeInUp">
                    <h6 class="mb-5"></h6>
                    <h3 class="mt-4">Select Payment Method</h3>
                    <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-md-6">
                <div class="card rounded w-full my-2 payment-gateway-card">
                    <div class="card-body text-center p-5">
                        <img src="https://www.iq.zain.com/themes/responsiv-clean/assets/images/zain-black-logo.png"
                            alt="zain-logo">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card rounded w-full my-2 payment-gateway-card">
                    <div class="card-body text-center p-5">
                        <img src="https://auis.edu.krd/sulaimaniforum/sites/default/files/Asiahawala%20Logo-03.png"
                            alt="zain-logo">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card rounded w-full my-2 payment-gateway-card">
                    <div class="card-body text-center p-5">
                        <img src="https://cdn.fast-pay.cash/assets/images/logo/logo_color.png" alt="zain-logo">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card rounded w-full my-2 payment-gateway-card">
                    <div class="card-body text-center p-5">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/2560px-Mastercard-logo.svg.png"
                            alt="zain-logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="/promote-done.html" class="btn btn-primary btn-lg btn-block">Pay Now</a>
        </div>